@using Ilm.CodeAudition.Service
@model TimesheetViewModel

@{
    ViewData["Title"] = "Timesheet";
}

Ci / Cd Works 

<div class="row mb-1">
    <div class="col">
        <b>Consultant:</b> @Model.Employee.Name
    </div>

    @using (Html.BeginForm("AddProject", "Timesheet", FormMethod.Post))
    {
        <div class="col">
            <input type="text" name="projectName"/> <button class="btn btn-outline-primary">Add Project</button>
        </div>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Project
            </th>
            <th>
                Mon
            </th>
            <th>
                Tue
            </th>
            <th>
                Wed
            </th>
            <th>
                Thu
            </th>
            <th>
                Fri
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm())
        {
            for (int i = 0; i < Model.Timesheets.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(x => Model.Timesheets[i].Id)
                        @Html.HiddenFor(x => Model.Timesheets[i].EmployeeId)
                        @Html.DisplayFor(x => Model.Timesheets[i].ProjectName)
                        @Html.HiddenFor(x => Model.Timesheets[i].ProjectName)
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model.Timesheets[i].Monday, new { size = 5 })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model.Timesheets[i].Tuesday, new { size = 5 })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model.Timesheets[i].Wednesday, new { size = 5 })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model.Timesheets[i].Thursday, new { size = 5 })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model.Timesheets[i].Friday, new { size = 5 })
                    </td>
                    <td>
                        @Html.DisplayFor(x => Model.Timesheets[i].Total, new { size = 5 })
                    </td>
                </tr>
            }
            <tr><td><button type="submit" class="btn btn-primary">Submit</button></td></tr>
        }
    </tbody>
</table>
